/*Fait prendre la taille entière de la page aux autres objets*/
html, body {
	margin: 0px;
	padding: 0px;
}
 /* couleur de fond */
 body {
	background-color: #fefefe;  
	font-size: 100%;
}
 /* largeur du menu calculé en enlevant celle du logo */
.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color : black;
	position : fixed;
	top : 0;
	width : calc(100% - 130px);
	font-family: linux libertine display G;
	font-size: 20px;	
}	
/* permet aux éléments de la liste d'être alignés  */
.menu li{
	float : left;
	width : 25%;
}
/* paramètre des rectangles */
.menu li a{
	background-color:#224870 ;
	display : block;
	text-align : center;
	padding : 15px 16px;
}
/* paramètre au survol des rectangles du menu  */
.menu li a:hover{
	background-color:#2A4494;
}	
/* paramètre du logo  */
.logo {
	height: 100%;
    width: 130px;
    background: #122C34;
	object-fit: cover;   
}
 /* paramètre au survol du logo */
.logo:hover{
	transform : rotate(180deg);
	background: rgb(86,90,100);
}
/* Paramètre de toute la liste pour enlever un bug d'affichage	 */
.grp {
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	height: 130px;
} 
/* paramètre du menu*/
#conteneur {
		display: flex;
		flex-direction: row-reverse;
		position : fixed;
		top : 0;		
}
/* Permet de changer la couleur des liens du menu et leur décoration	 */
.menu a:link {
 color: white;
 text-decoration: none;
}
/* couleur des liens visités */
.menu a:visited {
 color: white;
}

header {
	height : 50px;
}
/* Titre de la page */
h1{
	text-align: center;
	margin-top: 8%;
	margin-bottom: 10%;
	font-size: 5em;
	font-family: liberation serif;
	color: #111111;
}
/* placement du fil d'arianne */
.filArianne {
	margin: 5% 0% 0% 10%;	
}

/* paramètre de l'image du produit  */
.image{
	max-height:50%;
	height:auto;
	width:auto;
	max-width:52%;
}	

/* paramètre du bloc avec spécificité du produit */
.bloc3{
	max-width: 100%;
	width: 650px;
	height: 390px;
	max-height: 100%;
	font-weight: bold;
	margin: 1% 0%;
	font-family: linux libertine display G;
	font-size: 25px;
	color : #111111;
}	

/* paramètre du corps du texte */
.bloc4{
	width: 1700px;
	max-width: 100%;
	max-height:100%;
	height: 400px;
	margin : 0% 0% 10% 0%;
	font-size: 25px;
	color : #111111;	
}	

/* Paramètre pour bien agencer les éléments de la page  */
#conteneur3 {
	display: flex;
	flex-wrap: wrap;
	margin:0% 10%;		
}

/* paramètre de police du texte */
.texte{
	font-size: large;
	font-family: linux libertine display G;
	color : #111111;
	font-size: x-large;
}		
/* paramètre du footer */
footer{
	width:100%;
	max-width:100%;
	height:150px;
	max-height:80%;
	background-color: #224870;
	bottom:0;
}

/* logo de l'iut  */
.iutl1{
	max-height:100%;
	height: 50px;
}	

/* Second logo de l'iut	 */
.iutl2{
	max-height:100%;
	height: 50px;
}

/* paramètre des sources */
.source{
	float: bottom;
	text-align: center;
	margin-top: 0;
	color:#111111;
	text-decoration: none;
}

/* paramètre de l'ancre */
.ancre{
	height: 70%;
	width: 4%;
	min-width: 50px;
}

/* autres paramètre du footer */
.ui  {
	height:auto;
	width:auto;
	max-height:100%;
	max-width:100%;	
}

/* placement de l'ancre */
#bloc{
	display: flex;
	flex-direction: row;
	position : fixed;
	bottom :10%;	
	right : -488px;
}

/* paramètres du fil d'arianne */
.filArianne{
	margin: 10% 0% 4% 8%;
	font-size: large;	
	display: flex;
}

.filArianne li a {
	color:#4EA5D9;
	text-decoration: none;
}

.filArianne li{
	list-style-type: none;
}

.filArianne li::before {
	content: ">";
	color:#2A4494;
}

.filArianne li:first-child::before {
    content: "";
}

.filArianne span{
	font-family: linux libertine display G;
	font-weight: bold;
	color:#2A4494;
}
/* personalisation des auteurs */
.auteur{
	float: right;
	margin-right: 2%;
	margin-top: 1%;
	font-family: linux libertine display G;
	color : #111111;
}	
/* paramètre des sources */
.source1{
	text-decoration: none;
}