/*Fait prendre la taille entière de la page aux autres objets*/
html, body {
	margin: 0px;
	padding: 0px;
}

/*Couleur du fond*/ 
 body {
	background-color: #fefefe;  
}

/* Paramètre de toute la liste */  
.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color : black;
	position : fixed;
	top : 0;
	/*Largeur du menu calculer en enlevant celle du logo*/
	width : calc(100% - 130px);
	font-family: linux libertine display G;
	font-size: 20px;	
}	

/*Permet aux éléments de la liste d'être alignés*/ 
.menu li{
	float : left;
	width : 25%;
}

/*Paramètre des rectangles*/
.menu li a{
	background-color:#224870 ;
	display : block;
	text-align : center;
	padding : 15px 16px;
}

/*Paramètre lors du survol des rectangles du menu*/ 
.menu li a:hover{
	background-color:#2A4494;
}	

/*Paramètre du logo*/ 
.logo {
	height: 100%;
    width: 130px;
    background: #122C34;
	object-fit: cover;   
}

/*Paramètre lors du survol du logo*/  
.logo:hover{
	/*Fait faire une rotation*/
	transform : rotate(180deg);
	background: rgb(86,90,100);
}

/*Paramètre de toute la liste, pour enlever un bug d'affichage*/	
.grp {
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	height: 130px;
} 

/*Paramètre du menu*/
#conteneur {
	display: flex;
	flex-direction: row-reverse;
	position : fixed;
	top : 0;		
}

/*Permet change la couleur des liens du menu et leur décoration*/	
.menu a:link {
	color: white;
	text-decoration: none;
}

/*Couleur des liens visité*/
.menu a:visited {
	color: white;
}

/*Taille du texte*/
.texte{
	height: large;
}

/*Paramètre du titre Contact*/
h1{
	text-align: center;
	margin-top: 8%;
	margin-bottom: 10%;
	font-size: 5em;
	font-family: liberation serif;
	color: #111111;
}

/*Paramètre du bloc ou ce trouve le texte*/
#conteneur3{
	height: auto;
	min-height: 500px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 12%
}

/*Paramètre du lien twitter*/
.button {
	color: #111111;
}

/*Paramètre du pied de page*/
footer{
	width:100%;
	height:150px;
	background-color: #224870;
	position:absolute;
	bottom:-320px;
	margin-top:50px;
}

/*Paramètre du logo 1 de l'iut*/
.iutl1{
	max-height:100%;
	height: 50px;	
}	

/*Paramètre du logo 1 de l'iut*/	
.iutl2{
	max-height:100%;
	height: 50px;
}

/*Paramètre des sources*/
.source{
	float: bottom;
	text-align: center;
	margin-top: 0;
	color:#111111;
}

/*Paramètre du fil d'Arianne*/
.filArianne{
	margin: 10% 0% 4% 8%;
	font-size: large;	
	display: flex;	
}

/*Couleur et décoration des noms de pages ou l'on ne se trouve pas*/
.filArianne li a {
	color:#4EA5D9;
	text-decoration: none;
}

/*Enlève les points de liste devant les éléments*/
.filArianne li{
	list-style-type: none;
}

/*Donne la couleur a la page actuelle et le symbole entre chaque éléments de la liste*/
.filArianne li::before {
	content: ">";
	color:#2A4494;
}

/* Permet de ne pas afficher le symbole au début de la liste*/
.filArianne li:first-child::before {
    content: "";
}

/*Paramètre du texte du fil*/
.filArianne span{
	font-family: linux libertine display G;
	font-weight: bold;
	color:#2A4494;
}

/*Paramètre de la div iu dans le footer*/
.ui {
	height:auto;
	width:auto;
	max-height:100%;
	max-width:100%;	
}

/*Paramètre du texte*/
.texte{
    height: large;
    font-weight: bold;
    font-family: linux libertine display G;
    font-size: 30px;
}

/*Paramètre du texte auteur */
.auteur{
	float: right;
	margin-right: 2%;
	margin-top: 1%;
	font-family: linux libertine display G;
	color : #111111;
}	

/*Enlève le soulignage du lien de la source*/
.source1{
	text-decoration: none;
}
