/*Fait prendre la taille entière de la page aux autres objets*/
html, body{
	margin: 0px;
	padding: 0px;
}
/*Couleur du fond*/
 body{
	background-color: #fefefe; 
	font-size: 100%;
}
/*Largueur du menu calculer en enlevant celle du logo*/
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color : ;
	position : fixed;
	top : 0;
	width : calc(100% - 130px);
	font-family: linux libertine display G;
	font-size: 20px;	
}	
/*Permet aux éléments de la liste d'êtres alignés*/ 
li{
	float : left;
	width : 25%;
}
/*Paramètre des rectangles*/
li a{
	background-color:#224870 ;
	display : block;
	text-align : center;
	padding : 15px 16px;
}
/*Paramètre lors du survol des rectangles du menu*/ 
li a:hover{
	background-color:#2A4494;
}	
/*Paramètre du logo*/ 
.logo {
	height: 100%;
    width: 130px;
    background: #122C34;
	object-fit: cover;   
 }
/*Paramètre lors du survol du logo*/ 
.logo:hover{
	transform : rotate(180deg);
	background: rgb(86,90,100);
}	

/*Paramètre du titre de la page */
h1{
	text-align: center;
	margin-top: 8%;
	margin-bottom: 10%;
	font-size: 9em;
	font-family: liberation serif;
	color: #111111;
}

/*Paramètres pour le corps de texte */
.bloc{
	max-width: 100%;
	width : auto;
	max-height: 100%;
	height: auto;
	background-color : ;
	margin : 10% auto 5% auto;
}

/*Paramètre de toute la liste, pour enelever un bug d'affichage*/	
.grp{
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	height: 130px;
} 

/*paramètres pour agencer le logo et le menu dans le bon ordre*/	
#conteneur {
	display: flex;
	flex-direction: row-reverse;
	position : fixed;
	top : 0;		
}
	
header {
	height : 160px;
}
	
/*Paramètres pour redimensionner la vidéo */	
.video {
	height:700px;
	width:1500px;
	max-height:80%;
	max-width:80%;
	vertical-align:center;
	background-color : none;
}
/*permet de ùettre les couleurs de lien en blanc sans décoration*/	
 a:link {
 color: white;
 text-decoration: none;
 }
 /*Change la couleur du lien quand il est visité*/
 a:visited {
 color: white;
 }
/*Mise en forme du texte police,taille,couleur, etc...*/
.texte{
	font-family: linux libertine display G;
	font-size: 150%;
	color : #111111;
	margin: 0% 14.5%;
	text-align: center;
}
/*logo de l'iut*/
.iutl1{
	max-height:100%;
	height: 50px;	
}	
/*second logo de l'iut */	
.iutl2{
	max-height:100%;
	height: 50px;
}	
 	
/*Position des liens en pied de page */
.pidibop{
	text-align: center;
	color:#111111;
}	
/*Paramètres de la flèche qui permet de revenir en haut de la page*/
.ancre{
	height: 70%;
	width: 4%;
	min-width: 50px;
}

/*paramètres de la div "ui" pour le footer*/
.ui {
	height:auto;
	width:auto;
	max-height:100%;
	max-width:100%;	
}


/*Paramètres du bandeau en pied de page*/
footer{
	width:100%;
	max-width:100%;
	height:150px;
	max-height:100%;
	background-color: #224870;
}

/*Toutes les options qui caractérisent la div tableau */ 
.tableau {
	height:auto;
	width:auto;
	max-height:1000px;
	max-width:1000px;	

}


/*Texte aligné au centre et bordure des cellules du tableau fusionnées */
table{
    border-collapse: collapse;
	text-align: center;
}

/* Mettre une bordure sur les td ET les th */
td, th, tr{
	width:400px;
	max-width:100%;
	max-width:100%;
    height:100px;
	border: 1px solid black;
}
/*Permet à l'ancre d'être à la bonne place */
#bloc{
	display: flex;
	flex-direction: row;
	position : fixed;
	bottom :10%;
	right:-488px;
}
/*permet d'aligner le tableau le texte et la video au centre de la page */
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction:column;
}
/*Paramètres de police pour le .auteur*/
.auteur{
	float: right;
	margin-right: 2%;
	margin-top: 1%;
	font-family: linux libertine display G;
	color : #111111;
}
/*Paramètres de police pour le titre du tableau*/
.titre2{
	font-family: linux libertine display G;
	color : #111111;
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 2%;
}
	
.titre3{
	font-size:20px;
	color:black;
}	

.lol{
	width:0px;
}
	