/*Fait prendre la taille entière de la page aux autres objet*/
html, body {
	margin: 0px;
	padding: 0px;
}
 
 /*Couleur du fond*/
 body {
	background-color: #fefefe;  
	font-size: 100%;
}
 
 /* Paramètre de toute la liste */
.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color : none;
	position : fixed;
	top : 0;
	/* Largueur du menu calculer en enlevant celle du logo */
	width : calc(100% - 130px);
	font-family: linux libertine display G;
	font-size: 20px;
}	
 
 /*Permet aux éléments de la liste d'êtres alignés*/ 
.menu li{
	float : left;
	width : 25%;
}

/*Paramètre des rectangles*/
.menu li a{
	background-color:#224870 ;
	display : block;
	text-align : center;
	padding : 15px 16px;
}
 
 /*Paramètre lors du survol des rectangles du menu*/ 
.menu li a:hover{
	background-color:#2A4494;
}	
 
 /*Paramètre du logo*/ 
.logo {
	height: 100%;
    width: 130px;
    background: #122C34;
	object-fit: cover; 
}
 
 /*Paramètre lors du survol du logo*/
.logo:hover{
    transform : rotate(180deg);
	background: rgb(86,90,100);
}	

/* paramètre de toute la liste pour enlever un bug d'affichage */
.grp {
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	height: 130px;
} 

/* fixer le bloc menu en haut de page */
#conteneur {
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	height: 130px;
	display: flex;
	flex-direction: row-reverse;
	position : fixed;
	top : 0;		
}

/* design des liens du menu */
.menu a:link {
	color: white;
	text-decoration: none;
}

/* couleur du lien reste pareil après le clic */
.menu a:visited {
	color: white;
}

/* dimensionnement de l'image dans le bloc */
.bloc img{
	float: right;
	max-height:60%;
	max-width:60%;
	margin-left: 1%;
}

/* paramètrage du bloc */
.bloc{
	height: auto;
	background-color: none;
	margin: 0% 10% 10% 10%;	
}	

/* paramètrage du titre 1 */
h1{
	text-align: center;
	margin-top: 8%;
	margin-bottom: 10%;
	font-size: 5em;
	font-family: liberation serif;
	color: #111111;
}

/* mise en forme du fil d'arianne */
.filArianne{
	margin: 10% 0% 4% 8%;
	font-size: large;	
	display: flex;	
}

.filArianne li a {
	color:#4EA5D9;
	text-decoration: none;
}

.filArianne li{
	list-style-type: none;
}

.filArianne li::before {
	content: ">";
	color:#2A4494;
}

.filArianne li:first-child::before {
    content: "";
}

.filArianne span{
	font-family: linux libertine display G;
	font-weight: bold;
	color:#2A4494;
}

/* style et mise en forme du texte */
.texte{
	font-family: linux libertine display G;
	font-size: x-large;
	color : #111111;
}

/* dimensionnement de l'ancre */
.ancre{
	height: 70%;
	width: 4%;
	min-width: 50px;
}

/* positionnement de l'ancre */
#bloc{
	display: flex;
	flex-direction: row;
	position : fixed;
	bottom :10%;	
	right : -488px;
}

/* dimensionnement et paramètrage du pied de page */
.uiiiiiii {
	height:auto;
	width:auto;
	max-height:100%;
	max-width:100%;	
}

footer{
	width:100%;
	max-width:100%;
	height:150px;
	max-height:100%;
	background-color: #224870;

}

.pidibop{
	text-align: center;
	color:#111111;
}

.source{
	float: bottom;
	text-align: center;
	margin-top: 0;
	color:#111111;
}

/* dimensionnement des images du footer */
.iutl1{
	max-height:100%;
	height: 50px;	
}	
	
.iutl2{
	max-height:100%;
	height: 50px;
}